In [208]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import date, timedelta

In [209]:
filename = '/Users/ericschlosser/Desktop/TheHardWay/projects/Leitner/ISEEWords1 3 copy.xlsx'

df = pd.read_excel(filename)

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Word               499 non-null    object
 1   Definition         499 non-null    object
 2   Date               0 non-null      datetime64[ns]
 3   Consecutive Right  0 non-null      float64
 4   Card Used          0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 19.6+ KB

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Word               499 non-null    object
 1   Definition         499 non-null    object
 2   Date               499 non-null    object
 3   Consecutive Right  0 non-null      float64
 4   Card Used          0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 19.6+ KB

In [212]:
df['Word'] = df['Word'].astype(str)

In [213]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,New,NaN,NaN
1,Abate,become less in amount or intensity,New,NaN,NaN
2,abdicate,"give up power, duties or obligations",New,NaN,NaN
3,abduct (v.),- to kidnap,New,NaN,NaN
4,abase (v.),"- to lower, demean, degrade ðŸ—‘",New,NaN,NaN

In [214]:
df['Definition'][4:] = df['Definition'][4:].str[:-2]

/Users/ericschlosser/opt/anaconda3/envs/ML/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [215]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,New,NaN,NaN
1,Abate,become less in amount or intensity,New,NaN,NaN
2,abdicate,"give up power, duties or obligations",New,NaN,NaN
3,abduct (v.),- to kidnap,New,NaN,NaN
4,abase (v.),"- to lower, demean, degrade",New,NaN,NaN

In [216]:
df['Definition'][3:] = df['Definition'][3:].str[2:]

/Users/ericschlosser/opt/anaconda3/envs/ML/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [217]:
df.head(10)

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,New,NaN,NaN
1,Abate,become less in amount or intensity,New,NaN,NaN
2,abdicate,"give up power, duties or obligations",New,NaN,NaN
3,abduct (v.),to kidnap,New,NaN,NaN
4,abase (v.),"to lower, demean, degrade",New,NaN,NaN
5,abscond (v.),to sneak away and hide,New,NaN,NaN
6,abate (v.),"to lessen, to reduce in severity",New,NaN,NaN
7,abbreviate (v.),"to shorten, reduce",New,NaN,NaN
8,abundant (adj.),in great numbers,New,NaN,NaN
9,accede (v.),to agree,New,NaN,NaN

In [218]:
df.to_csv('isee_csv.csv')

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Word               499 non-null    object
 1   Definition         499 non-null    object
 2   Date               499 non-null    object
 3   Consecutive Right  0 non-null      float64
 4   Card Used          0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 19.6+ KB

In [220]:
df['Date'] = df['Date'].replace('New', np.nan)

In [221]:
df['Date'] = pd.to_datetime(df['Date'])

In [222]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,NaT,NaN,NaN
1,Abate,become less in amount or intensity,NaT,NaN,NaN
2,abdicate,"give up power, duties or obligations",NaT,NaN,NaN
3,abduct (v.),to kidnap,NaT,NaN,NaN
4,abase (v.),"to lower, demean, degrade",NaT,NaN,NaN

In [223]:
def random_dates(start, end, n=10):

    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

In [224]:
start = pd.to_datetime('2022-10-25')
end =  pd.to_datetime('2023-10-25')
dlist = list(random_dates(start,end, 300)) + [pd.NaT]*199
df['Date'] = dlist
df['Date'] = df['Date'].dt.round('D')

In [225]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,2022-11-24,NaN,NaN
1,Abate,become less in amount or intensity,2023-02-08,NaN,NaN
2,abdicate,"give up power, duties or obligations",2023-07-30,NaN,NaN
3,abduct (v.),to kidnap,2022-12-19,NaN,NaN
4,abase (v.),"to lower, demean, degrade",2022-12-02,NaN,NaN

In [226]:
df.sort_values('Date')

,Word,Definition,Date,Consecutive Right,Card Used
163,erect (v.),"to construct, to raise",2022-10-25,NaN,NaN
52,atone (v.),"to apologize, make amends",2022-10-29,NaN,NaN
268,loquacious (adj.),talkative,2022-10-30,NaN,NaN
51,assuage (v.),"to ease, pacify",2022-11-01,NaN,NaN
224,illusory (adj.),"deceptive, produced by an illusion",2022-11-01,NaN,NaN
...,...,...,...,...,...
494,wax (v.),to increase gradually in size or degree,NaT,NaN,NaN
495,weather (v.),to withstand or survive a situation,NaT,NaN,NaN
496,whet (v.),"to make more keen, stimulate",NaT,NaN,NaN
497,winsome (adj.),"charming, attractive",NaT,NaN,NaN
498,Zeitgeist (n.),the spirit of the ti,NaT,NaN,NaN

In [227]:
df_today = df[df['Date'] <= str(date.today())]

In [228]:
date.today() + timedelta(days = 1)

datetime.date(2022, 10, 27)

In [229]:
today = date.today()
print(today)

2022-10-26

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Word               499 non-null    object
 1   Definition         499 non-null    object
 2   Date               300 non-null    datetime64[ns]
 3   Consecutive Right  0 non-null      float64
 4   Card Used          0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 19.6+ KB

In [231]:
words_a_day = 20
def todays_list():
    today = date.today()
    df_today = df[df['Date'] < str(date.today()+ timedelta(days = 20))]
    if df_today.shape[0] < words_a_day:
        new_words = words_a_day - df_today.shape[0]
        df_new = df[df['Date'].isnull()].iloc[:20,:]
        df_today = pd.concat([df_today, df_new], axis = 0)
    return df_today

In [232]:
df_today = todays_list()
df_today

,Word,Definition,Date,Consecutive Right,Card Used
16,abridge (v.),"to shorten, cut down",2022-11-13,NaN,NaN
31,allay (v.),"sooth, assuage",2022-11-02,NaN,NaN
51,assuage (v.),"to ease, pacify",2022-11-01,NaN,NaN
52,atone (v.),"to apologize, make amends",2022-10-29,NaN,NaN
163,erect (v.),"to construct, to raise",2022-10-25,NaN,NaN
210,gregarious (adj.),"sociable, outgoing",2022-11-08,NaN,NaN
224,illusory (adj.),"deceptive, produced by an illusion",2022-11-01,NaN,NaN
260,lethargic (adj.),"sluggish, weary, apathetic",2022-11-05,NaN,NaN
268,loquacious (adj.),talkative,2022-10-30,NaN,NaN
273,malevolent (adj.),having intent to harm others,2022-11-09,NaN,NaN
300,myopic (adj.),short-sighted,NaT,NaN,NaN
301,myriad (adj.),consisting of a very great number,NaT,NaN,NaN
302,narrate (v.),to tell a story,NaT,NaN,NaN
303,nebulous (adj.),"indistinct, hazy",NaT,NaN,NaN
304,nefarious (adj.),horribly villainous,NaT,NaN,NaN
305,neologism (n.),"the creation of new words, or a new word",NaT,NaN,NaN
306,neonate (n.),a newborn baby,NaT,NaN,NaN
307,noisome (adj.),"foul, offensive, particularly to the sense of ...",NaT,NaN,NaN
308,notoriety (n.),"infamy, known in bad regard",NaT,NaN,NaN
309,novel (adj.),"strikingly new, unusual, or different",NaT,NaN,NaN
310,noxious (adj.),"harmful, toxic",NaT,NaN,NaN
311,obdurate (adj.),unyielding to persuasion or moral influences,NaT,NaN,NaN
312,obfuscate (v.),to render incomprehensible,NaT,NaN,NaN
313,obsequious (adj.),excessively compliant or submissive,NaT,NaN,NaN
314,odious (adj.),meriting strong displeasure,NaT,NaN,NaN
315,officious (adj.),offering unwanted help or service,NaT,NaN,NaN
316,olfactory (adj.),relating to the sense of smell,NaT,NaN,NaN
317,ominous (adj.),"foreboding or foreshadowing evil, portentous",NaT,NaN,NaN
318,oration (n.),a dignified and formal speech,NaT,NaN,NaN
319,ostracize (v.),to exclude from a community,NaT,NaN,NaN

In [233]:
df.to_csv('isee_csv.csv', index = False)

In [234]:
df = pd.read_csv('isee_csv.csv')

In [235]:
todays_list()

,Word,Definition,Date,Consecutive Right,Card Used
16,abridge (v.),"to shorten, cut down",2022-11-13,NaN,NaN
31,allay (v.),"sooth, assuage",2022-11-02,NaN,NaN
51,assuage (v.),"to ease, pacify",2022-11-01,NaN,NaN
52,atone (v.),"to apologize, make amends",2022-10-29,NaN,NaN
163,erect (v.),"to construct, to raise",2022-10-25,NaN,NaN
210,gregarious (adj.),"sociable, outgoing",2022-11-08,NaN,NaN
224,illusory (adj.),"deceptive, produced by an illusion",2022-11-01,NaN,NaN
260,lethargic (adj.),"sluggish, weary, apathetic",2022-11-05,NaN,NaN
268,loquacious (adj.),talkative,2022-10-30,NaN,NaN
273,malevolent (adj.),having intent to harm others,2022-11-09,NaN,NaN
300,myopic (adj.),short-sighted,NaN,NaN,NaN
301,myriad (adj.),consisting of a very great number,NaN,NaN,NaN
302,narrate (v.),to tell a story,NaN,NaN,NaN
303,nebulous (adj.),"indistinct, hazy",NaN,NaN,NaN
304,nefarious (adj.),horribly villainous,NaN,NaN,NaN
305,neologism (n.),"the creation of new words, or a new word",NaN,NaN,NaN
306,neonate (n.),a newborn baby,NaN,NaN,NaN
307,noisome (adj.),"foul, offensive, particularly to the sense of ...",NaN,NaN,NaN
308,notoriety (n.),"infamy, known in bad regard",NaN,NaN,NaN
309,novel (adj.),"strikingly new, unusual, or different",NaN,NaN,NaN
310,noxious (adj.),"harmful, toxic",NaN,NaN,NaN
311,obdurate (adj.),unyielding to persuasion or moral influences,NaN,NaN,NaN
312,obfuscate (v.),to render incomprehensible,NaN,NaN,NaN
313,obsequious (adj.),excessively compliant or submissive,NaN,NaN,NaN
314,odious (adj.),meriting strong displeasure,NaN,NaN,NaN
315,officious (adj.),offering unwanted help or service,NaN,NaN,NaN
316,olfactory (adj.),relating to the sense of smell,NaN,NaN,NaN
317,ominous (adj.),"foreboding or foreshadowing evil, portentous",NaN,NaN,NaN
318,oration (n.),a dignified and formal speech,NaN,NaN,NaN
319,ostracize (v.),to exclude from a community,NaN,NaN,NaN

In [246]:
def print_list():
    df_today = todays_list()
    print("\n\n\nLIST OF TODAY'S WORDS\n\n\n")
    row_item = "{:25}: {:60}"

    for index, row in df_today.iterrows():
        print(row_item.format(row[0], row[1]))

In [247]:
print_list()

LIST OF TODAY'S WORDS



abridge (v.)             : to shorten, cut down
allay (v.)               :  sooth, assuage
assuage (v.)             : to ease, pacify
atone (v.)               : to apologize, make amends
erect (v.)               : to construct, to raise
gregarious (adj.)        : sociable, outgoing
illusory (adj.)          : deceptive, produced by an illusion
lethargic (adj.)         : sluggish, weary, apathetic
loquacious (adj.)        : talkative
malevolent (adj.)        : having intent to harm others
myopic (adj.)            : short-sighted
myriad (adj.)            : consisting of a very great number
narrate (v.)             : to tell a story
nebulous (adj.)          : indistinct, hazy
nefarious (adj.)         : horribly villainous
neologism (n.)           : the creation of new words, or a new word
neonate (n.)             : a newborn baby
noisome (adj.)           : foul, offensive, particularly to the sense of smell
notoriety (n.)           : infamy, known in bad regard
novel (adj.)             : strikingly new, unusual, or different
noxious (adj.)           : harmful, toxic
obdurate (adj.)          : unyielding to persuasion or moral influences
obfuscate (v.)           : to render incomprehensible
obsequious (adj.)        : excessively compliant or submissive
odious (adj.)            : meriting strong displeasure
officious (adj.)         : offering unwanted help or service
olfactory (adj.)         : relating to the sense of smell
ominous (adj.)           : foreboding or foreshadowing evil, portentous
oration (n.)             : a dignified and formal speech
ostracize (v.)           : to exclude from a community

In [ ]:
def fc():

In [250]:
df_dict = df.set_index('Word').T.to_dict('list')

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [253]:
count = 0

for index, row in df_today.iterrows():
    if count < 1:
        print(row)
    count +=1

Word                         abridge (v.)
Definition           to shorten, cut down
Date                  2022-11-13 00:00:00
Consecutive Right                     NaN
Card Used                             NaN
Name: 16, dtype: object

In [261]:
def to_cardlist(df_today):
    word_list_today = []
    for index, row in df_today.iterrows():
        wordcard = {}
        wordcard['index'] = index
        wordcard['word'] = row[0]
        wordcard['definition'] = row[1]
        wordcard['date'] = row[2]
        wordcard['consecutive right'] = row[3]
        wordcard['card used'] = row[4]
        word_list_today.append(wordcard)
    return word_list_today

to_cardlist(df_today)
len(to_cardlist(df_today))

30

In [262]:
def fc():
    df = pd.read_csv('isee_csv.csv')
    word_list_future = []
    word_list_today = to_cardlist(df_today)
    while len(word_list_today) > 0:
        print(word_list_today[0]['word'] + '\n\n')
        answer = input('Enter definition: ')
        print('\n\n' + word_list_today[0]['definition'] + '\n\n')
        card = word_list_today.pop(0)
        correct = input(' Did you get the question right or wrong or have you mastered the concept (type r, w, m or q)? ')
        if correct[0].lower() == 'r':
            if card['card used'] == 0:
                card['card used'] += 1
                card['consecutive right'] += 1
                df.iloc[index]['Date'] = date.today(
                ) + timedelta(days=card['consecutive right'] * 2)
            word_list_today.append(card)
        if correct[0].lower() == 'm':
            if card['card used'] == 0:
                card['card used'] +=1
                card['consecutive right'] +=1
                df.iloc[index]['Date'] = date.today(
                ) + timedelta(days=card['consecutive right'] * 2)
            word_list_future.append(card)
        if correct[0].lower() == 'w':
            if card['card used'] == 0:
                card['card used'] += 1
                card['consecutive right'] = 1
                df.iloc[index]['Date'] = date.today() + timedelta(days=1)
            word_list_today.append(card)
        if correct[0].lower() == 'q':
            break
    df.to_csv('isee_csv.csv', index = False)

In [270]:
def fc():
    df = pd.read_csv('isee_csv.csv')
    word_list_future = []
    word_list_today = to_cardlist(df_today)
    while len(word_list_today) > 0:
        print(word_list_today[0]['word'] + '\n\n')
        answer = input('Enter definition: ')
        print('\n\n' + word_list_today[0]['definition'] + '\n\n')
        card = word_list_today.pop(0)
        correct = input(
            ' Did you get the question right or wrong or have you mastered the concept (type r, w, m or q)? ')
        if correct[0].lower() == 'r':
            if card['card used'] == 0:
                card['card used'] += 1
                card['consecutive right'] += 1
                df.at[card['index'], 'Date'] = date.today(
                ) + timedelta(days=card['consecutive right'] * 2)
            word_list_today.append(card)
        if correct[0].lower() == 'm':
            if card['card used'] == 0:
                card['card used'] += 1
                card['consecutive right'] += 1
                df.at[card['index'], 'Date'] = date.today(
                ) + timedelta(days=card['consecutive right'] * 2)
            word_list_future.append(card)
        if correct[0].lower() == 'w':
            if card['card used'] == 0:
                card['card used'] += 1
                card['consecutive right'] = 1
                df.at[card['index'], 'Date'] = date.today() + timedelta(days=1)
            word_list_today.append(card)
        if correct[0].lower() == 'q':
            break
    df.to_csv('isee_csv.csv', index=False)

fc()

abridge (v.)




to shorten, cut down


allay (v.)




 sooth, assuage


assuage (v.)




to ease, pacify


atone (v.)




to apologize, make amends


erect (v.)




to construct, to raise


gregarious (adj.)




sociable, outgoing


illusory (adj.)




deceptive, produced by an illusion


lethargic (adj.)




sluggish, weary, apathetic


loquacious (adj.)




talkative


malevolent (adj.)




having intent to harm others


myopic (adj.)




short-sighted


myriad (adj.)




consisting of a very great number


narrate (v.)




to tell a story


nebulous (adj.)




indistinct, hazy


nefarious (adj.)




horribly villainous


neologism (n.)




the creation of new words, or a new word


neonate (n.)




a newborn baby


noisome (adj.)




foul, offensive, particularly to the sense of smell


notoriety (n.)




infamy, known in bad regard


novel (adj.)




strikingly new, unusual, or different


noxious (adj.)




harmful, toxic


obdurate (adj.)




unyielding to persuasion or moral influences


obfuscate (v.)




to render incomprehensible


obsequious (adj.)




excessively compliant or submissive


odious (adj.)




meriting strong displeasure


officious (adj.)




offering unwanted help or service


olfactory (adj.)




relating to the sense of smell


ominous (adj.)




foreboding or foreshadowing evil, portentous


oration (n.)




a dignified and formal speech


ostracize (v.)




to exclude from a community


abridge (v.)




to shorten, cut down


allay (v.)




 sooth, assuage

In [268]:
df.at[311,'Definition'] = 'Ruttiger'

In [269]:
df.iloc[311]['Definition']

'Ruttiger'

In [303]:
df['Date'] = [pd.NaT]*499

In [304]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,NaT,NaN,NaN
1,Abate,become less in amount or intensity,NaT,NaN,NaN
2,abdicate,"give up power, duties or obligations",NaT,NaN,NaN
3,abduct (v.),to kidnap,NaT,NaN,NaN
4,abase (v.),"to lower, demean, degrade",NaT,NaN,NaN

In [272]:
df['Date'].isnull().sum()

499

In [297]:
df['Date'] = df['Date'].astype('str')

In [300]:
df['Date'] = [np.nan]*499

In [301]:
df.to_csv('isee_csv.csv')

In [302]:
df.info

<bound method DataFrame.info of                Word                                Definition  Date  \
0           abandon  leave someone who needs or counts on you   NaN
1             Abate        become less in amount or intensity   NaN
2          abdicate      give up power, duties or obligations   NaN
3       abduct (v.)                                to kidnap    NaN
4        abase (v.)                 to lower, demean, degrade   NaN
..              ...                                       ...   ...
494        wax (v.)   to increase gradually in size or degree   NaN
495    weather (v.)       to withstand or survive a situation   NaN
496       whet (v.)              to make more keen, stimulate   NaN
497  winsome (adj.)                      charming, attractive   NaN
498  Zeitgeist (n.)                      the spirit of the ti   NaN

     Consecutive Right  Card Used
0                  NaN        NaN
1                  NaN        NaN
2                  NaN        NaN
3                  NaN        NaN
4                  NaN        NaN
..                 ...        ...
494                NaN        NaN
495                NaN        NaN
496                NaN        NaN
497                NaN        NaN
498                NaN        NaN

[499 rows x 5 columns]>

In [313]:
df_today = df.loc[df['Date'] < '2022-11-11']

In [292]:
date.today()

datetime.date(2022, 10, 26)

In [307]:
df['Date'] = pd.to_datetime(df["Date"]).dt.date

In [309]:
type(date.today())

datetime.date

In [311]:
type(df.at[311,'Date'])

pandas._libs.tslibs.nattype.NaTType

In [314]:
df['Date'] < pd.to_datetime(date.today())

0      False
1      False
2      False
3      False
4      False
       ...
494    False
495    False
496    False
497    False
498    False
Name: Date, Length: 499, dtype: bool

In [315]:
df = pd.read_csv('isee_csv.csv')
df.head()

,Unnamed: 0,Word,Definition,Date,Consecutive Right,Card Used
0,0,abandon,leave someone who needs or counts on you,NaN,NaN,NaN
1,1,Abate,become less in amount or intensity,NaN,NaN,NaN
2,2,abdicate,"give up power, duties or obligations",NaN,NaN,NaN
3,3,abduct (v.),to kidnap,NaN,NaN,NaN
4,4,abase (v.),"to lower, demean, degrade",NaN,NaN,NaN

In [316]:
df = df.iloc[:,1:]

In [317]:
df.head()

,Word,Definition,Date,Consecutive Right,Card Used
0,abandon,leave someone who needs or counts on you,NaN,NaN,NaN
1,Abate,become less in amount or intensity,NaN,NaN,NaN
2,abdicate,"give up power, duties or obligations",NaN,NaN,NaN
3,abduct (v.),to kidnap,NaN,NaN,NaN
4,abase (v.),"to lower, demean, degrade",NaN,NaN,NaN

In [ ]:
df.to_csv('isee_csv.csv', index = False)